.common-button {
	-fx-font-size: 9pt;
	-fx-font-family: "Lucida Sans Unicode", sans-serif, Verdana;
	-fx-background-color: rgb(125, 125, 125);
	-fx-text-fill: rgb(255,255,255);
}

.common-button:hover {
	-fx-background-color: rgb(150, 150, 150);
	-fx-cursor: hand; 
}

.open-file {
	-fx-font-size: 9pt;
	-fx-font-family: "Courier New", Verdana, cursive;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-background-color: rgb(200, 200, 200);
	-fx-text-fill: rgb(25, 25, 25);
}

.open-file:hover {
	-fx-background-color: rgb(175, 175, 175);
	-fx-cursor: hand;
}

.big-button {
	-fx-font-size: 12pt;
	-fx-font-family: "Impact", sans-serif, Verdana;
	-fx-background-color: rgb(150, 150, 150);
	-fx-text-fill: rgb(255,255,255);
}

.big-button:hover {
	-fx-background-color: rgb(175, 175, 175);
	-fx-border-style: solid;
	-fx-border-width: 2px;
	-fx-border-color: rgb(200, 200, 200);
}


.default-table-view {
	-fx-background-color: rgb(200, 200, 200);
}

.default-table-view .column-header {
	-fx-font-family: "Impact", sans-serif;
	-fx-font-size: 11pt;
} 

.default-table-view .table-cell {
	-fx-font-family: "Courier New", Verdana;	
}

.default-table-view .table.row-cell {
	-fx-background-color: rgb(0,0,0);
}

.default-table-view .table-row-cell:hover {
	-fx-background-color: rgb(175, 175, 175);
	-fx-cursor: hand;
}

.default-table-view .table-row-cell:empty {
	-fx-background-color: rgb(200,200,200);
	-fx-cursor: default;
}


.default-table-view .table-row-cell:empty .table-cell {
	-fx-border-width: 0px;
}